@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
	--font-family: 'Manrope', sans-serif;

	--gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
	--gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

	--color-bg: #040C18;
	--color-footer: #031B34;
	--color-blog: #042c54;
	--color-text: #81AFDD;
	--color-subtext: #FF8A71;
}

.bg-theme-neutral-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(94 91 113/0.2);
}

.image_container {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	width: initial;
	height: initial;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	padding: 0;
	border: none;
	margin: auto;
	display: block;
	width: 0;
	height: 0;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: center;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	font-family: var(--font-family);
	font-size: 50px;
	font-weight: 700;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}