.contact_container {
	background: var(--color-bg1);
	padding: 4rem;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 4rem;
	height: 30rem;
	margin: 7rem auto;
	border-radius: 1rem;
}


/*======================== ASIDE SECTION ====================*/


.contact_aside {
	background: var(--color-primary);
	padding: 3rem;
	border-radius: 1rem;
	/* position: relative; */
	/* bottom: 10rem; */
}

.aside_image {
	width: 12rem;
	margin-bottom: 2rem;
}

.contact_aside h2 {
	text-align: center;
	margin-bottom: 1rem;
}

.contact_aside p {
	font-size: 0.9rem;
	margin-bottom: 2rem;
}

.contact_details li {
	display: flex;
	grid-gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
}

.contact_socials {
	display: flex;
	grid-gap: 0.8rem;
	margin-top: 3rem;
}

.contact_socials a {
	background: var(--color-bg2);
	padding: 0.8rem;
	border-radius: 50%;
	font-size: 1rem;
	transition: var(--transition);
}

.input:focus {
	color: rgb(0, 255, 255);
	background-color: #212121;
	outline-color: rgb(0, 255, 255);
	box-shadow: -3px -3px 15px rgb(0, 255, 255);
	transition: .1s;
	transition-property: box-shadow;
}

.contact_socials a:hover {
	background: transparent;
}


/*======================== FORM SECTION ====================*/


.contact_form {
	display: flex;
	flex-direction: column;
	grid-gap: 1.2rem;
	margin-right: 4rem;
}

.form_name {
	display: flex;
	grid-gap: 1.2rem;
}

.contact_form input[type="text"] {
	width: 50%;
	color: var(--color-white);
	background-color: #fff;
}

input,
textarea {
	width: 100%;
	padding: 1rem;
	background: var(--color-bg);
	color: var(--color-white);
}

.contact_form .btn {
	width: max-content;
	margin-top: 1rem;
	cursor: pointer;
}


/*========================MEDIA QUERIES (FOR TABLET) ====================*/

@media screen and (max-width: 1024px) {
	.contact {
		padding-bottom: 0;
	}

	.contact_container {
		grid-gap: 1.5rem;
		margin-top: 3rem;
		height: auto;
		padding: 1.5rem;
	}

	.contact_aside {
		width: auto;
		padding: 1.5rem;
		bottom: 0;
	}

	.contact_form {
		align-self: center;
		margin-right: 1.5rem;
	}
}


/*========================MEDIA QUERIES (FOR MOBILES) ====================*/

@media screen and (max-width: 600px) {

	.contact_container {
		grid-template-columns: 1fr;
		grid-gap: 3rem;
		margin-top: 0;
		padding: 0;
	}

	.contact_form {
		margin: 0 1.5rem 3rem;
	}

	.form_name {
		flex-direction: column;
	}

	.form_name input[type="text"] {
		width: 100%;
	}


}


.login-box form a {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 20px;
	letter-spacing: 2px
}

.login-box a:hover {
	background: #1448ba;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 0px #0353f4,
		0 0 2px #0363f4,
		0 0 5px #0333f4,
		0 0 1px #030bf4;
}

.login-box a span {
	position: absolute;
	display: block;
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}

.login-box a span:nth-child(1) {
	bottom: 2px;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #033ff4);
	animation: btn-anim1 2s linear infinite;
}