@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
	--color-primary: #636cff;
	--color-success: #00bf8e;
	--color-warning: #f7c94b;
	--color-danger: #f75842;
	--color-dander-varient: rgba(247, 88, 66, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.7);
	--color-black: #000;
	--color-bg: #1f2641;
	--color-bg1: #2e3267;
	--color-bg2: #424890;

	--container-width-lg: 80%;
	--container-width-md: 90%;
	--container-width-sm: 94%;

	--transition: all 400ms ease;
}

body {
	font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 1.7;
	color: var(--color-white);
	background: var(--color-bg);
}

.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

section {
	padding: 6rem 0;
}

section h2 {
	text-align: center;
	margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.3rem;
}

a {
	color: var(--color-white)
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.btn {
	display: inline-block;
	background: var(--color-white);
	color: var(--color-black);
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 500;
	transition: var(--transition)
}

.btn:hover {
	background: transparent;
	;
	color: var(--color-white);
	border-color: var(--color-white);
}

.btn-primary {
	background: var(--color-danger);
	color: var(--color-white);
}

/*======================== NAVBAR ====================*/
nav {
	background: transparent;
	width: 100vw;
	height: 5rem;
	position: fixed;
	top: 0;
	z-index: 11;
	/* transition: background-color 0.3s, box-shadow 0.3s, height 0.3s; */
}

.window-scroll {
	background: var(--color-primary);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	/* height: 4rem; Adjust the height during scroll */
}

.nav_container {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* transition: height 0.3s; */
}

.nav_menu {
	display: flex;
	align-items: center;
	grid-gap: 2rem;
	/* Adjust the gap between menu items */
}

.nav_menu a {
	font-size: 1rem;
	/* Adjust the font size */
	transition: var(--transition);
}

.nav_menu a:hover {
	color: var(--color-warning);
	font-size: 1.1rem;
	/* Adjust the font size on hover */
}

/* Add the following lines to smoothly transition the text size during scroll */
.window-scroll .nav_menu a {
	font-size: 0.9rem;
}

.window-scroll .nav_menu a:hover {
	font-size: 1rem;
}

/*======================== CATEGORIES ====================*/

.categories {
	background: var(--color-bg1);
	height: 32rem;
}

.categories h1 {
	line-height: 1;
	margin-bottom: 3rem;
}

.categories_container {
	display: grid;
	grid-template-columns: 40% 60%;
}

.categories_left {
	margin: 4rem;
}

.categories_left p {
	margin: 1rem 0 3rem;
}

.categories_right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.2rem;
}

.category {
	background: var(--color-bg2);
	padding: 2rem;
	border-radius: 2rem;
	transition: var(--transition);
}

.category:hover {
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.category:nth-child(2) .category_icon {
	background: var(--color-danger);
}

.category:nth-child(3) .category_icon {
	background: var(--color-success);
}

.category:nth-child(4) .category_icon {
	background: var(--color-warning);
}

.category:nth-child(5) .category_icon {
	background: var(--color-success);
}


.category_icon {
	background: var(--color-primary);
	padding: 0.7rem;
	border-radius: 0.9rem;
}

.category h5 {
	margin: 2rem 0 1rem;
}

.category p {
	font-size: 0.85rem;
}

/*======================== POPULAR COURSES ====================*/

.courses {
	margin-top: 10rem;
}

.courses_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.course {
	background: var(--color-bg1);
	text-align: center;
	border: 1px solid transparent;
	transition: var(--transition);
}

.course:hover {
	background: transparent;
	border-color: var(--color-primary);
}

.course_info {
	padding: 2rem;
}

.course_info p {
	margin: 1.2rem 0 2rem;
	font-size: 0.9rem;
}

/*======================== FAQs ====================*/

.faqs {
	background: var(--color-bg1);
	box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.faq {
	padding: 2rem;
	display: flex;
	grid-gap: 1.4rem;
	align-items: center;
	height: fit-content;
	background: var(--color-primary);
	cursor: pointer;
}

.faq h4 {
	font-size: 1rem;
	line-height: 2.2;
}

.faq_icon {
	align-self: flex-start;
	font-size: 1.2rem;
}

.faq p {
	margin-top: 0.8rem;
	display: none;
}

.faq.active p {
	/* Use 'active' class instead of 'open' for consistency with React code */
	display: block;
}

/*======================== TESTIMONMIALS ====================*/

.testimonial_container {
	overflow-x: hidden;
	margin-bottom: 5rem;
	position: relative;
}

.testimonial_container h2 {
	text-align: center;
	margin-bottom: 3rem;
	font-size: 2.8rem;
	font-weight: 500;
}

.courses h2 {
	text-align: center;
	margin-bottom: 3rem;
	font-size: 2.8rem;
	font-weight: 500;

}

.testimonial {
	padding-top: 2rem;
}

.testimonials_headline {
	text-align: center;
	margin-bottom: 5rem;
	font-size: 2.8rem;
	font-weight: 700;
}

.avatar {
	height: 6rem;
	width: 6rem;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto 1rem;
	border: 1rem solid var(--color-bg1);
}

.testimonial_info {
	text-align: center;
}

.testimonial_body {
	background: var(--color-primary);
	padding: 2rem;
	margin-top: 3rem;
	position: relative;
}

.testimonial_body:before {
	content: "";
	display: block;
	background: linear-gradient(135deg,
			transparent,
			var(--color-primary),
			var(--color-primary),
			var(--color-primary));
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 50%;
	top: -1.5rem;
	transform: rotate(45deg);
}

/* Get In Touch */
#contact {
	box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}


/*======================== FOOTER SECTION ====================*/


footer {
	background: var(--color-bg1);
	padding-top: 4rem;
	font-size: 0.9rem;
}

.footer_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5rem;
}

.footer_container>div h4 {
	margin-bottom: 1.2rem;
}

.footer_1 p {
	margin: 0 0 2rem;
}

footer ul li {
	margin-bottom: 0.7rem;
}

footer ul li a:hover {
	text-decoration: underline;
}

.transition {
	transition: var(--transition);
}

.footer_social {
	display: flex;
	grid-gap: 1rem;
	font-size: 1.2rem;
	margin-top: 1rem;
}

.footer_copyright {
	text-align: center;
	margin-top: 2rem;
	padding: 1.2rem 0;
	border-top: 1px solid var(--color-bg2);
}


/*======================== MEDIA QUERIES (TABLETS) ====================*/

@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
	}

	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	h4 {
		font-size: 1.2rem;
	}


	/*====================== NAVBAR ====================*/

	nav button {
		display: inline-block;
		background: transparent;
		font-size: 1.8rem;
		color: var(--color-white);
		cursor: pointer;
	}

	nav button#close-menu-btn {
		display: none;
	}

	.nav_menu {
		top: 5rem;
		position: fixed;
		right: 5%;
		height: fit-content;
		width: 18rem;
		flex-direction: column;
		grid-gap: 0;
		display: none;
	}

	.nav_menu li {
		width: 100%;
		height: 5.8rem;
		animation: animateNAvItems 400ms linear forwards;
		transform-origin: top right;
		opacity: 0;
	}

	.nav_menu li:nth-child(2) {
		animation-delay: 200ms;
	}

	.nav_menu li:nth-child(3) {
		animation-delay: 400ms;
	}

	.nav_menu li:nth-child(4) {
		animation-delay: 600ms;
	}

	@keyframes animateNAvItems {
		0% {
			transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
		}

		100% {
			transform: rotateZ(0deg) rotateX(0) scale(1);
			opacity: 1;
		}
	}

	.nav_menu li a {
		background: var(--color-primary);
		box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
	}

	.nav_menu li a:hover {
		background: var(--color-bg2);
		color: var(--color-white);
	}

	/*====================== HEADER ====================*/

	header {
		height: 70vh;
		margin-bottom: 4rem;
	}

	.header_container {
		grid-gap: 0;
		padding-bottom: 3rem;
	}

	/*====================== CATEGORIES ====================*/

	.categories {
		height: auto;
	}

	.categories_container {
		grid-template-columns: 1fr;
		grid-gap: 3rem;
	}

	.categories_left {
		margin-right: 0;
	}

	/*====================== POPULAR COURSES ====================*/

	.courses {
		margin-top: 0;
	}

	.courses_container {
		grid-template-columns: 1fr 1fr;
	}

	/*====================== FAQs ====================*/

	.faqs_container {
		grid-template-columns: 1fr;
	}

	.faqs {
		padding: 1.5rem;
	}

	/*====================== FOOTER ====================*/

	.footer_container {
		grid-template-columns: 1fr 1fr;
	}

}


/*======================== MEDIA QUERIES (PHONES) ====================*/

@media screen and (max-width: 600px) {
	.container {
		width: var(--container-width-sm);
	}

	/*====================== NAVBAR ====================*/

	.nav_menu {
		right: 3%;
	}

	/*====================== HEADER ====================*/

	header {
		height: 100vh;
	}

	.header_container {
		grid-template-columns: 1fr;
		text-align: center;
		margin-top: 0;
	}

	.header-left p {
		margin-bottom: 1.3rem;
	}


	/*====================== CATEGORIES ====================*/

	.categories_right {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.7rem;
	}

	.category {
		padding: 1rem;
		border-radius: 1rem;
	}

	.category_icon {
		margin-top: 4px;
		display: inline-block;
	}


	/*====================== POPULAR COURSES ====================*/

	.courses_container {
		grid-template-columns: 1fr;
	}

	/*====================== TESTIMONIALS ====================*/

	.testimonial_body {
		padding: 1.2rem;
	}

	/*====================== FOOTER ====================*/

	.footer_container {
		grid-template-columns: 1fr;
		text-align: center;
		grid-gap: 2rem;
	}

	.footer_1 p {
		margin: 1rem auto;
	}

	.footer_social {
		justify-content: center;
	}
}